body{
padding: 0;
margin:0;
min-width: 100%;
background: #eee;
}
table {
	width: 100%;
	border-spacing: 0;
	font-family: sans-serif;
	color: #333333;
}
td {
	padding: 5px 0;
}
.header, .footer{
	color: #eee;
	Margin: 0 auto;
	width: 100%;
	background: #000 !important;
	text-align: center;
}
.container{
	Margin: 0 auto;
	width: 100%;
	max-width: 600px;
	table-layout: fixed;
	background: #fff;
}
p{
	font-size: 14px;
	text-align: left;
	margin: 5px auto;
	padding: 5px 10px;
}
a{
	text-decoration: none;
	color: inherit;
}
.h0{
	font-size: 12px;
}
.h1{
    font-size: 30px;
}
.h3{
	font-size: 24px;
}
.h4{
	font-size: 18px;
}
.btn{
	max-width: 300px;
	width: 200px;
	padding: 10px 0;
}
.center{
	text-align: center;
}
.bold{
	font-weight: 800;
}
.btn-dark{
	background: #333;
	border: 1px solid #000;
	color: #fff;
}
.headbar{
	background: #333;
	color: #fff;
	vertical-align: middle;
	padding: 10px;
	margin: 0;
}
.reviewstrip td:nth-child(1){
	width: 15%;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
.reviewstrip td:nth-child(2){
	width: 85%;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
.reviewstrip-dark td:nth-child(1){
	background: #888;
	color: #fff;
}
.reviewstrip-dark td:nth-child(2){
 	background: #666;
 	color: #fff;
}
.tipbox{
	width: 400px;
	position: relative;
}
.tipbox p:nth-child(1){
	background: #aaa;
	margin: 0 auto;
	padding: 10px;
}
.tipbox p:nth-child(2){
	background: #ddd;
	margin: 0 auto;
	padding: 30px 10px;
}
.tipbox:after{
	left: 50%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(237, 237, 237, 0);
	border-left-color: #ddd;
	border-width: 50px;
	margin-top: -10px;

}

.contents {
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.two-col{
	text-align: center;
	font-size: 0;
}
.two-col .col{
	width: 100%;
	max-width: 300px;
	display: inline-block; 
	vertical-align: top;
}
.two-col .col img{
	max-width: 300px;
	width: 100%;
}
.five-col{
	text-align: center;
	font-size: 0;
}
.five-col .col{
	width: 100%;
    max-width: 120px;
    display: inline-block;
    vertical-align: top;
}
.five-column .contents {
    font-size: 14px;
    text-align: center;
}
.five-col .col img{
	max-width: 300px;
	width: 100%;
}
.tab1:after{
	content: '\00a0 \00a0 \00a0 \00a0';
}
.tab2:after{
	content: '\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0';
}
.tab3:after{
	content: '\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0';
}
.tab4:after{
	content: '\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0'
}
.tab5:after{
	content:'\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0';
}
.tab6:after{
	content: '\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0';

}
.tab7:after{
	content: '\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0';
}