body{
	padding: 0;
	margin:0;
	min-width: 100%;
	background: #eee;
}
table {
	width: 100%;
	border-spacing: 0;
	font-family: sans-serif;
	color: #333333;
}
td {
	padding: 0;
}
p{
	font-size: 14px;
	text-align: left;
	margin: 5px auto;
	padding: 5px 10px;
}
.h0{
	font-size: 12px;
}
.h1{
    font-size: 30px;
}
.h3{
	font-size: 24px;
}
.h4{
	font-size: 18px;
}
.btn{
	max-width: 300px;
	width: 200px;
	padding: 10px 0;
}
.center{
	text-align: center;
}
.btn-dark{
	background: #333;
	border: 1px solid #000;
	color: #fff;
}
.headbar{
	background: #333;
	color: #fff;
	vertical-align: middle;
	padding: 10px;
}
.reviewstrip td:nth-child(1){
	width: 15%;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
.reviewstrip td:nth-child(2){
	width: 85%;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
.reviewstrip-dark td:nth-child(1){
	background: #888;
	color: #fff;
}
.reviewstrip-dark td:nth-child(2){
 	background: #666;
 	color: #fff;
}
.tipbox{
	width: 400px;
	position: relative;
}
.tipbox p:nth-child(1){
	background: #aaa;
	margin: 0 auto;
	padding: 10px;
}
.tipbox p:nth-child(2){
	background: #ddd;
	margin: 0 auto;
	padding: 30px 10px;
}
.tipbox:after{
	left: 50%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(237, 237, 237, 0);
	border-left-color: #ddd;
	border-width: 50px;
	margin-top: -10px;

}
.container{
	Margin: 0 auto;
	width: 100%;
	max-width: 800px;
	table-layout: fixed;
	background: #fff;
}
.contents {
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.two-col{
	text-align: center;
	font-size: 0;
}
.two-col .col{
	width: 100%;
	max-width: 400px;
	display: inline-block; 
	vertical-align: top;
}
.two-col .col img{
	max-width: 400px;
	width: 100%;
}